fastapi==0.139.0
numpy==2.5.1
pandas==2.2.3
passlib==1.7.4
pinecone==9.1.0
pydantic==2.13.4
pydantic_settings==2.14.2
python-dotenv==1.2.2
python_jose==3.5.0
Requests==2.34.2
resend==2.32.2
scikit_learn==1.4.2
sentence_transformers==5.4.1
SQLAlchemy==2.0.51
statsmodels==0.14.1
